@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
body{
    background-color: #212124 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#section-search{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    width: 40%;
    min-width: auto;
    height: 15%;
    font-size: 20px;
    text-align: center;
}
h1{
    color: #F4C430;
}
#section-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
    width: 40%;
    min-width: auto;
    word-wrap: break-word;
    font-size: 22px;
}
.card-title{
    color: #F4C430;
    font-size: 20px;
}
.card-text{
    font-size: 1rem;
}
.card{
    background-color: #191919 !important;
    color: #ffffff;
    box-shadow: 5px 3px 10px #0c0c0c;
}
.btn{
    color: #F4C430 !important;
    border-color: #F4C430 !important;
    background: transparent !important;
}